@font-face {
  font-family: roboto;
  src: url("../assets//fonts/Roboto-Regular.ttf");
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --a-color: #4d4d4d;
  --background-color: #141824;
  --hover-color: #31374a;
  --main-white: #eff2f6;
  --borders-color: #31374a;
  --li-color: #9fa6bc;
  --section-color: #6e7891;
}
a {
  color: var(--a-color);
}
body {
  background-color: var(--background-color);
}
.hidden {
  display: none;
}

button {
  cursor: pointer;
}
li {
  list-style: none;
}

.container {
  padding: 25px 25px;
}
